.resultWrapper{width: 100%;display: grid;grid-template-columns: repeat(4,calc(24%)) !important;padding: 2%; column-gap: 1.33%; overflow: hidden; row-gap: 10px; }
.product_items{ width: 100%; height: auto; box-shadow: 0px 0px 5px rgb(241, 241, 241); border-radius: 5px; overflow: hidden;}
.path{  display: flex; gap: 30px; margin: 2%;  }
.path span{position: relative; font-weight: 600;}
.path span ~ span::before{
   position: absolute;
   content: '';
   width: 5px;
   height: 5px;
   background: rgb(158, 158, 158);
   display: inline-block;
   border-radius: 50%;
   right: calc(100% + 10px);
   top: 50%;
   transform: translateY(-50%);
  
}
 .resultWrapper a{
    display: block;
 }

@media (max-width:850px){
    .resultWrapper{grid-template-columns: repeat(3,calc(32%)) !important; column-gap: 1.33%;}

}
@media (max-width:700px){
    .resultWrapper{grid-template-columns: repeat(2,calc(48%)) !important; column-gap: 2%;}
    

}
@media (max-width:530px){
    .resultWrapper{grid-template-columns: repeat(1,calc(100%)) !important; column-gap: 0.5%; padding: 4%;}

}